@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Kanit', sans-serif;
    scrollbar-color: #f1f1f1 #e5e5e5;
    scrollbar-width: thin;
}


.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: #172554 !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #172554 !important;
  opacity: 1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

html, body {
  scrollbar-width: thin; 
  scrollbar-color: #ff0000 #f1f1f1; 
  overflow-y: auto;
}

g{
  pointer-events: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd{
  display: none;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed {
  display: flex;
}
.goog-te-gadget-simple{
  display: flex !important;
}